<div class="container">
    <div class="navbar navbar-fixed">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/petitions">All Petitions</a></li>
            <li class="active"><a href="/my">My Petitions</a></li>
            <li><a href="/elections">Elections</a></li>
            <li><a href="/authenticate/logout?destination=home">Sign Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="petitions">
	{% if myPetitions|length > 0 %}
		{% for petition in myPetitions %}
      <div class="alert" data-id="{{ petition.id }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><b>{{petition.name}} </b>is running for {{petition.organization}}: {{petition.position}}</h4>
        <h5>Election: {{petition.election}}</h5>
        <h6>Number of Signatures: {{petition.signature_num}}</h6>
        <p>{{ petition.message }}</p>
      </div>
    {% endfor %}
	{% endif %}
	
    
  </div>

</div>
<script src="/static/js/my.js"></script>