<div class="container">
  <div class="row">
		
		<div class="span2">
		  <a class="btn btn-large btn-success" href="/my">My Page</a>
		  <h2><strong>Leaving?</strong></h2>
		  <p>Come back soon</p>
		  <a class="btn btn-large btn-success" href="/authenticate/logout?destination=home">Sign Out</a>
		</div>
	  
	  <div class="span6" id="petitions">
		{% for petition in effectivePetitions %}
		  <div class="alert" data-id="{{ petition.id }}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>{{ petition.title }}</h4>
			<h6>Vote #: {{ petition.votes}}</h6>
			<p>{{ petition.note }}</p>
			<p>{{petition.user}}</p>
			<button type="button" id="vote-button" class="btn btn-mini">Vote</button>
			<button type="button" id="unvote-button" class="btn btn-mini">Unvote</button>
		  </div>
		{% endfor %}
	  </div>
	  
	  <div class="span4">
		  <form class="form-horizontal well container-narrow">
			<fieldset>
			  <legend>Add Petition</legend>
				<label>Name</label>
				<input id="input-title" type="text" placeholder="i.e. Burt McMurtry" class="span3">
				<label>Organizer Name</label>
				<input id="org-name" type="text" placeholder="Organizer's Name" class="span3">
				<label>Organizer Email</label>
				<input id="org-email" type="text" placeholder="Organizer's Email Address" class="span3">
				<label>Petition Comments</label>
				<textarea id="input-text" class="span3 petition" rows="5" placeholder="Send a message to your supporters!"></textarea>
			  <button id="add-button" class="btn btn-primary">Add</button>
			</fieldset>
		  </form>
		 </div>
  </div>

</div> <!-- /container -->
<script src="/static/js/petitions.js"></script>