<!DOCTYPE html>
<html lang="en<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Home</title>
	</head>

  <body>

    <body>
	    <table>
	        <tbody>
	            <tr id="menu_bar">
	                <td id="petitions_logo"><img src="http://1.bp.blogspot.com/-CjDdjCeXYTw/VFEwJD93aaI/AAAAAAAAAg8/jNEW-sXnc3c/s1600/rice_petitions.png" /></td>
	                <td class="click_menu">START A PETITION</td>
	                <td class="click_menu">ACTIVE PETITIONS</td>
	                <td class="click_menu">PREVIOUS PETITIONS</td>
	                <td class="click_menu">MY PAGE</td>
	                <td class="click_menu">LOG OUT</td>
	            </tr>

	        </tbody>
	    </table>
    {{ content }}

</body>
</html>