@font-face{
    font-family: AktivGrotesk;
    src: url('/static/fonts/AktivGrotesk200.ttf');
}

@font-face{
    font-family: AktivGrotesk;
    src: url('../static/fonts/AktivGrotesk900.ttf');
    font-weight: bold;
}

a, p {
    font-family: AktivGrotesk;
}

h1,h2,h3 {
    font-family: AktivGrotesk; 
}

.container-narrow {
    margin: 0 auto;
    max-width: 312px;
    margin-bottom: 40px;
}

.wow {
    text-align: center;
}

.sticky {
}

#add-button {
    margin-top: 10px;
    float: right;
}