.body {
    vertical-align: middle;
}

.container-narrow {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 40px;
}

#add-election-button {
    height: 100%;
    float: right;
}

#errorimage {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.modal{
    display: block;
}

#ongoing-elections, #upcoming-elections, #ongoing-petitions, #expired-petitions {
    padding: 10px;
    margin: 0 auto;
}

.jumbotron {
    text-align: center;
}

