
.container-narrow {
    margin: 0 auto;
    max-width: 312px;
    margin-bottom: 40px;
}

.wow {
    text-align: center;
}

.sticky {
}

#add-button, #add-election-button {
    margin-top: 10px;
    float: right;
}

.alert {
  color: black;
  background-color: #C2FFEB;
}

.alert-info {
	background-color: white;
	height: 30px;
	margin-bottom: 1px;
}

.alert h4 {
  color: black;
}

#dashboard {
    width: 800px;
    left: 50%;
}