<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
		<link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
		<title>Home</title>
	</head>
	
	<body>
	    <table>
	        <tbody>
	            <tr id="menu_bar">
	                <td id="petitions_logo"><img src="http://1.bp.blogspot.com/-CjDdjCeXYTw/VFEwJD93aaI/AAAAAAAAAg8/jNEW-sXnc3c/s1600/rice_petitions.png" /></td>
	                <td class="click_menu">START A PETITION</td>
	                <td class="click_menu">ACTIVE PETITIONS</td>
	                <td class="click_menu">PREVIOUS PETITIONS</td>
	                <td class="click_menu">MY PAGE</td>
	                <td class="click_menu">LOG OUT</td>
	            </tr>

	        </tbody>
	    </table>
        <div></div>
	    <table>
	        <tr>
	            <td class="click_button"><img class="buttons"; src="http://1.bp.blogspot.com/-dn9cgcgeDp4/VFE07jiw95I/AAAAAAAAAhU/iGh2EN_fAWg/s1600/start_petition.png" /></td>
	            <td class="click_button"><img class="buttons"; src="http://1.bp.blogspot.com/-JsP0eXskM-I/VFE07guUUlI/AAAAAAAAAhQ/fCxT9bzZtuc/s1600/active_petition.png" /></td>
	            <td class="click_button"><img class="buttons"; src="http://1.bp.blogspot.com/-bGGjeR64iRA/VFE07eFDFSI/AAAAAAAAAhM/VNQRBev26KE/s1600/results_petition.png"/></td>
	        </tr>
	    </table>

	</body>
</html>
