div {
    margin: auto;
    width: 920;
    height: 2px;
    background-color: black;
}

#petitions_logo {
    padding-right: 100px;
}
#menu_bar {
    font-family: letter gothic std;
    font-size:  15px;
    padding: 10px;
}

.click_menu{
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
}

.click_button {
    padding: 150px 20px 20px 0px;
}

.buttons{
    height: 150px;
    width: 150px;
}

.Petitions {
    position: static;
    width: 75%;
    margin: 0 auto;
}

.add-petitions {
	position: static;
	width: 75%;
	margin: 0 auto;
}

.body {
	vertical-align:middle;
}